<div class="container-fluid" id="welcome">
  <div class="container">
    <header>
      <%= link_to 'IT Jobs', root_path, class: 'logo' %>
      <nav>
        <ul>
          <li><a href="#">Explore</a></li>
          <li><a href="#">Sign In</a></li>
          <li><a href="#">Post Job</a></li>
        </ul>
      </nav>
    </header>

    <h1>Discover your new favorite <br>job, or create your own.</h1>
    <a href="#" class="btn btn-default btn-highlight">Explore</a>
    <a href="#" class="btn btn-default btn-light">Post Job</a>
  </div>
</div>
